.container-fluid{
    padding: 20px;
}
#add-task-btn, #delete-clr-btn{
    margin: 20px auto;
    padding : 10px 20px;
    background-color: #e6ba95;
    border-style: dashed;
    border-color: black;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button-col{
    text-align: center;
}
textarea{
    width: 100%;
}
h1{
    font-size: 4rem;
}
ol{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #a2b388;
    font-family: 'Permanent Marker', cursive;
}

.task-display{
    border: 4px;
    border-style: double;
    border-radius: 10px;
    background-color: #fafdd6;
}

.delete-task{
    background-color: #e8d9cc;
    border-radius: 20px;
    color: grey;
    margin: auto 0 auto auto;
    font-size: 1rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    padding: 5px;
}
.delete-task:hover{
    color: black;
    background-color: #e6ba95;
}
.date{
    visibility: 0.5;
    font-size: 0.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #a2b388;
}

input{
    width : 20px;
    height: 20px;
}
input:enabled{
    color: aqua;
}

@media screen and (max-width: 750px) {
    ol{
        font-size: 1rem;
    }
  }